section.about-us
    .cell
        .wrapper.row
            .wrapper-col.col-lg-6.col-md-6.col-sm-6
                .h3
                    span Creativity takes courage
                .subline
                    | Normcore proident sed selvage. Post-ironic ugh master cleanse etsy you probably haven't heard of them mollit optional clickthroughs.
            .wrapper-col.col-lg-6.col-md-6.col-sm-6
                .h3
                    span 
                .subline
                    | 
        .wrapper.row
            .wrapper-col.col-lg-4.col-md-4.col-sm-4
                .group.row
                    .group-col.col-lg-2
                        .icon
                            i.fas.fa-chalkboard-teacher
                    .group-col.col-lg-10
                        .title
                            span Instructors
                        .content
                            span Tilde ethical beard, slow-carb small batch butcher woke heirloom kinfolk organic disrupt schlitz sustainable.
            .wrapper-col.col-lg-4.col-md-4.col-sm-4
                .group.row
                    .group-col.col-lg-2
                        .icon
                            i.fas.fa-place-of-worship
                    .group-col.col-lg-10
                        .title
                            span Methodolody
                        .content
                            span Drinking vinegar tumblr hashtag flexitarian. Tumeric PBR&B beard, gochujang occupy seitan vexillologist la croix.
            .wrapper-col.col-lg-4.col-md-4.col-sm-4
                .group.row
                    .group-col.col-lg-2
                        .icon
                            i.far.fa-address-book
                    .group-col.col-lg-10
                        .title
                            span Facility
                        .content
                            span Bushwick vexillologist air plant before they sold out brooklyn taiyaki helvetica freegan. DIY neutra try-hard live-edge.
            .wrapper-col.col-lg-4.col-md-4.col-sm-4
                .group.row
                    .group-col.col-lg-2
                        .icon
                            i.fas.fa-palette
                    .group-col.col-lg-10
                        .title
                            span Courses
                        .content
                            span Hella biodiesel jean shorts retro mustache migas hammock gochujang tousled cray. Locavore tacos etsy small batch.
            .wrapper-col.col-lg-4.col-md-4.col-sm-4
                .group.row
                    .group-col.col-lg-2
                        .icon
                            i.fas.fa-street-view
                    .group-col.col-lg-10
                        .title
                            span Location
                        .content
                            span 3 wolf moon cronut waistcoat, aesthetic pickled enamel pin locavore edison bulb quinoa coloring book poutine.
            .wrapper-col.col-lg-4.col-md-4.col-sm-4
                .group.row
                    .group-col.col-lg-2
                        .icon
                            i.far.fa-eye
                    .group-col.col-lg-10
                        .title
                            span Hours
                        .content
                            span Poke schlitz ennui live-edge swag umami squid cray tumeric small batch mixtape shaman. Viral gochujang kinfolk.
section.teachers.row
    .wrapper-teachers.col-lg-6
        .owl-carousel.owl-theme.teacher-slider
            .item
                .teacher-content
                    .teacher-img
                        img(src="../../../dist/assets/images/students/std_01.png", alt="")
                    .teacher-quote
                        blockquote
                            q Don’t let what you cannot do interfere with what you can do.
                    .teacher-name
                        span Beverly Sills
                        span Student
            .item
                .teacher-content
                    .teacher-img
                        img(src="../../../dist/assets/images/students/std_02.png", alt="")
                    .teacher-quote
                        blockquote
                            q You’ve got to get up every morning with determination if you’re going to go to bed with satisfaction.
                    .teacher-name
                        span George Lorimer
                        span Student
            .item
                .teacher-content
                    .teacher-img
                        img(src="../../../dist/assets/images/students/std_03.png", alt="")
                    .teacher-quote
                        blockquote
                            q Strive for progress, not perfection.
                    .teacher-name
                        span Vanshika Pandey
                        span Student
            .item
                .teacher-content
                    .teacher-img
                        img(src="../../../dist/assets/images/students/std_04.png", alt="")
                    .teacher-quote
                        blockquote
                            q Successful and unsuccessful people do not vary greatly in their abilities. They vary in their desires to reach their potential.
                    .teacher-name
                        span Lisa A. Delouise
                        span Student
    .wrapper-about.col-lg-6
        


            