section.competition
    .comp-title
        .title-icon
            .icon-trophy
                i.fas.fa-trophy
                .icon-medal
                    i.fas.fa-medal
        .title-text
            span Academy Competition
    .comp-img
        img(src="../../../dist/assets/images/30-poster-design-tips-opener.jpg", alt="")
    .comp-content
        span Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        span Impedit, debitis omnis obcaecati aliquid dicta voluptatum corporis eligendi quo accusantium hic distinctio quidem amet
        span soluta magni veniam sint expedita , esse nostrum
    .comp-countdown
