section.competition
    .container
        .comp-title
            .title-icon
                img(src="../../../dist/assets/images/trophy.png", alt="")
            .title-text
                span Academy Competition
        .comps.row
            .comp-col.col-lg-6
                .comp-img
                    img(src="../../../dist/assets/images/30-poster-design-tips-opener.jpg", alt="")
                .comp-name
                    span Who is the best Artist?
                .comp-calendar
                    ul
                        li
                            i.far.fa-calendar-check
                            span sep 05, 2020
                        li
                            i.far.fa-calendar-times
                            span sep 20, 2020
                .comp-content
                    span Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    span Impedit, debitis omnis obcaecati aliquid dicta voluptatum corporis eligendi quo accusantium hic distinctio quidem amet
                    span soluta magni veniam sint expedita , esse nostrum
                .comp-countdown
                    span clock here
                .comp-button
                    .button-apply
                        a.button-hover(href="#")
                            span register now
            .comp-col.col-lg-6
                .comp-img
                    img(src="../../../dist/assets/images/30-poster-design-tips-opener.jpg", alt="")
                .comp-name
                    span Who is the best Artist?
                .comp-calendar
                    ul
                        li
                            i.far.fa-calendar-check
                            span sep 05, 2020
                        li
                            i.far.fa-calendar-times
                            span sep 20, 2020
                .comp-content
                    span Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    span Impedit, debitis omnis obcaecati aliquid dicta voluptatum corporis eligendi quo accusantium hic distinctio quidem amet
                    span soluta magni veniam sint expedita , esse nostrum
                .comp-countdown
                    span clock here
                .comp-button
                    .button-apply
                        a.button-hover(href="#")
                            span register now

