section.count-up
    .wrapper-countup
        .container
            .count-content
                .row
                    .col-lg-3.col-md-3.col-sm-3
                        .counter-list
                            i.fas.fa-palette
                            span.counter 2500
                            p Designs
                    .col-lg-3.col-md-3.col-sm-3
                        .counter-list
                            i.fas.fa-user-graduate
                            span.counter 3300
                            p Students
                    .col-lg-3.col-md-3.col-sm-3
                        .counter-list
                            i.fa.fa-trophy
                            span.counter 20
                            p Winners
                    .col-lg-3.col-md-3.col-sm-3
                        .counter-list
                            i.fas.fa-images
                            span.counter 10
                            p Exhibition
