section.courses
    .courses-section
        .section-background
        .section-overlay
        .section-container
            #Image1.section-element
                .section-image
                    .section-image-background
                    .section-overlay
            #Paragraph1.section-element
                .p-paragraph 
                    | The Static 2D Design course helps students shape design thinking and practice tooling skills through a knowledge system from basic to advanced for professional designers.
            #Image2.section-element
                .section-image        
                    .section-image-background
            #List_Paragrph.section-element
                .section-list-paragraph
                    ul
                        li Basic principles in design
                        li Design and arrange text
                        li Design and digital illustration
                        li Image processing
                        li Post-production and photography concepts
                        li Design in print & advertising
                        li Design project, build brand identity
            #Group1.section-element
                .section-group
                    .section-headline
                        h3.section-headline Course Objectives
                    .section-sharp
                        .section-shape
                            i.far.fa-lightbulb
            #Group2.section-element
                .section-group
                    .section-headline
                        h3.section-headline Subjects
                    .section-sharp
                        .section-shape
                            i.far.fa-lightbulb
    .staffs-section
        .section-background
        .overlay
        .container
            .line-element
                .line
                    .line-container

            .paragraph-element
                .p-paragraph
                    | A strong group made up of unique egos. During the development process, the academy is fortunate to have a young faculty and always encourage students to express themselves, thereby contributing to famous designers for the International Multimedia Fine Arts.
            .frame1-element                    
                .frame
                    .frame-background
                    .image-element
                        .image
                            .image-backgorund
                    .headline1-element
                        .h6.headline Elena Gastón Nicolás
                    .headline2-element
                        .p.headline
                            | Training director
                            br
                            | Graphic Design Instructor
                            br
                    .paragraph-element
                        .paragraph
                            | Being a non-stop independent shaping practitioner, with loyal principles: Unique idea, practical construction.
                            br
                            br
                            | He had an early solo exhibition on contemporary typography, actively popularized the movement of Digital painting... But his favorite topic and continuous improvement is approaching Typography from the perspective of visual principles and Effective communication.
                            br
                    .line-element
                        .line
                            .line-container
            .frame2-element                    
                .frame
                    .frame-background
                    .image-element
                        .image
                            .image-backgorund
                    .headline1-element
                        .h6.headline Carole K. Boyd
                    .headline2-element
                        .p.headline
                            | Graphic Design Instructor
                            br
                            | National Academy of Fine Arts
                            br
                    .paragraph-element
                        .paragraph
                            | As one of the academy's veteran Graphic Design instructors, Mr. Carole K. Boyd has been loved by generations of students and is known as “KB”. In addition to his forte in graphics, he also takes beautiful pictures.
                            br
                            br
                            | Mr. Carole K. Boyd has held many positions such as Head of Design Department, Art Director of many large companies.
                            br
                    .line-element
                        .line
                            .line-container
            .frame3-element                    
                .frame
                    .frame-background
                    .image-element
                        .image
                            .image-backgorund
                    .headline1-element
                        .h6.headline Luana Stebule
                    .headline2-element
                        .p.headline
                            | Abstract painting teacher
                            br
                            | Institute of Fine Arts
                            br
                    .paragraph-element
                        .paragraph
                            | Ms. Luana Stebule's classes are always fun and exciting, students are motivated to maximize their potential.
                            br
                            br
                            | She is very loved by students because of her teenage style and always social with students.
                            br
                    .line-element
                        .line
                            .line-container
            .headline-element
                .h3.headline Teaching staff
            .shape-element
                .shape
                    i.far.fa-lightbulb




