section.exhibition
    .wrapper-ex
        .ex-title
            span Exhibition highlights
            span currently on display
        .ex-content
            .conduct-time
                span Exhibition Name / 30-12-2020 - 31-12-2020 / Place
            .ex-designs.row
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
        .ex-content
            .conduct-time
                span Exhibition Name / 30-12-2020 - 31-12-2020 / Place
            .ex-designs.row
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
        .ex-content
            .conduct-time
                span Exhibition Name / 30-12-2020 - 31-12-2020 / Place
            .ex-designs.row
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more
                .designs-show.col-lg-3
                    .show-inner
                        .show-image
                            a(href="#")
                                img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                        .show-info
                            span Mar 15 2020
                            span abstract wireframe
                            span Rebecca Jr.Lore
                            a.button-hover(href="#")
                                span View more