mixin tile(obj)
  figure.js-item.column(class=obj.variant)
    - ratio = '16x9'

    if obj.variant == 'col-span'
      - ratio = '32x9'
    else if obj.variant == 'row-span'
      - ratio = '9x80'

    div.aspect(class="aspect--" + ratio)      
      div.aspect__inner        
        img(data-src=obj.src, alt=obj.alt, class="lazyload")
    div.dcontent
      p.ddate Thursday, July 16, 2015
        span.pmark Mark:
      h1.dtitle Wood In The Dark Jungle
      p.ddescription Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta assumenda eaque facilis necessitatibus optio neque dolorem. Tempore distinctio in architecto id inventore perferendis animi debitis quibusdam dolores exercitationem, quia dicta.
    a(href="https://www.google.com.vn/")
      div.dposting
        h5 View Posting
        i#dposting-icon.fa.fa-angle-right

mixin content()
  //- Loop through all the images and create tiles from them.
  div.js-grid.my-shuffle
    each obj in images
      +tile(obj)
    .column.my-sizer-element

//- Define some images
- var images = [];
- images.push({ alt: '', src: '../../../../ProjectHKIII-Website/dist/assets/images/Small/adrianna-geo-1rBg5YSi00c-unsplash.jpg' })
- images.push({ alt: '', src: '../../../../ProjectHKIII-Website/dist/assets/images/Small/andy-art-RX0EeIR72a4-unsplash.jpg' })
- images.push({ alt: '', src: '../../../../ProjectHKIII-Website/dist/assets/images/Small/birmingham-museums-trust--IAS_N85adA-unsplash.jpg' })
- images.push({ alt: '', src: '../../../../ProjectHKIII-Website/dist/assets/images/Small/birmingham-museums-trust-2n0PVUfmE7A-unsplash.jpg' })
//- - images.push({ variant: 'row-span', alt: '', src: '../../../../ProjectHKIII-Website/dist/assets/images/Small/birmingham-museums-trust-5ruS8plfbvM-unsplash.jpg' })
//- - images.push({ variant: 'col-span', alt: '', src: 'https://images.unsplash.com/photo-1473175494278-d83ed8459089?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1208&h=338&fit=crop&s=fd1cf1e8eddf88ef87015314f85ce3fb' })
- images.push({ alt: '', src: '../../../../ProjectHKIII-Website/dist/assets/images/Small/birmingham-museums-trust-5ruS8plfbvM-unsplash.jpg' })
- images.push({ alt: '', src: '../../../../ProjectHKIII-Website/dist/assets/images/Small/birmingham-museums-trust-5ruS8plfbvM-unsplash.jpg' })
- images.push({ alt: '', src: '../../../../ProjectHKIII-Website/dist/assets/images/Small/birmingham-museums-trust-646VXpvhw28-unsplash.jpg' })
- images.push({ alt: '', src: '../../../../ProjectHKIII-Website/dist/assets/images/Small/birmingham-museums-trust-7uPdW_O4I0Y-unsplash.jpg' })
//-content here
section
  .container
    form(action="#" class="form-inline")
      input(type="submit" name="Filter" value="Filter" class="btn btn-success")
      input(type="text" placeholder="Please enter Design Name" name="designname" class="form-control" size="50")      
    hr
    label(for="marks") Mark:
    select#marks(name='marks')
      option(value='best') Best
      option(value='better') Better
      option(value='good') Good
      option(value='moderate') Moderate
      option(value='normal') Normal
      option(value='disqualified') Disqualified        
    +content()
