section.header
        header
            .container
                .nav.flex-row
                    .nav-logo
                        a.nav-brand(href="../../../dist/html/pages/index.html" alt="logo")
                            img(src="../../assets/images/logo/Fine_Arts_Institute.png", alt="logo")

                    .nav-items.justify-content-end
                        ul
                            li.nav-item
                                a.circle.active(href="#")
                                    span home
                            li.nav-item
                                a.circle(href="#")
                                    span courses
                                ul.sub-nav
                                    li
                                        a
                                            span sub
                                    li
                                        a
                                            span sub
                                    li
                                        a
                                            span sub
                                    li
                                        a
                                            span sub
                            li.nav-item
                                a.circle(href="#")
                                    span gallery
                                ul.sub-nav
                                    li
                                        a
                                            span sub
                                    li
                                        a
                                            span sub
                                    li
                                        a
                                            span sub
                                    li
                                        a
                                            span sub
                            li.nav-item
                                a.circle(href="#")
                                    span admission information
                                ul.sub-nav
                                    li
                                        a
                                            span sub
                                    li
                                        a
                                            span sub
                                    li
                                        a
                                            span sub
                                    li
                                        a
                                            span sub
                            li.nav-item
                                a.circle(href="#")
                                    span about us
                                ul.sub-nav.mr-10
                                    li
                                        a
                                            span sub
                                    li
                                        a
                                            span sub
                                    li
                                        a
                                            span sub
                                    li
                                        a
                                            span sub
                            li
                                a.btn.btn-login.btn-hv.btn-hv-bs.btn-hv-up(href="../../../dist/html/pages/login.html")
                                    span login

