//- slider
section.slider
    .owl-carousel.owl-theme.banner-inner.slider-main
        .item
            .owl-lazy(data-src='../../../dist/assets/images/slider/slider01.jpg')
        .item
            .owl-lazy(data-src='../../../dist/assets/images/slider/slider02.jpg')
    .slider-content
        .slider-circle
            img(src="../../../dist/assets/images/slider/draw_paint.png", alt="")
            .slider-dot-image
                img(src="../../../dist/assets/images/slider/dot_03.png", alt="")
        .slider-text
            h1
                span LEARN TO
                span Draw & Paint
                span If you like to paint, you may encounter the myth that
                span it takes talent. Don’t believe it.
            .button-apply
                a.button-hover(href="#")
                    span apply today
