section.teachers
    .wrapper-teachers
        .teacher-content
            .teacher-img
                img(src="", alt="")
            .teacher-name
                span
            .teacher-quote
                span
            