section.teachers.row
    .wrapper-teachers.col-lg-6
        .owl-carousel.owl-theme.teacher-slider
            .item
                .teacher-content
                    .teacher-img
                        img(src="../../../dist/assets/images/teachers/teacher1.jpg", alt="")
                    .teacher-quote
                        blockquote
                            q A life spent making mistakes is not only more honorable, but more useful than a life spent doing nothing.
                    .teacher-name
                        span George Bernard Shaw
                        span Teacher
            .item
                .teacher-content
                    .teacher-img
                        img(src="../../../dist/assets/images/teachers/teacher2.jpg", alt="")
                    .teacher-quote
                        blockquote
                            q Every child is an artist. The problem is how to remain an artist once he grows up.
                    .teacher-name
                        span Friedrich Nietzsche
                        span Teacher
            .item
                .teacher-content
                    .teacher-img
                        img(src="../../../dist/assets/images/teachers/teacher3.jpg", alt="")
                    .teacher-quote
                        blockquote
                            q It is good to love many things, for therein lies the true strength, and whosoever loves much performs much, and can accomplish much, and what is done in love is well done.
                    .teacher-name
                        span Kurt Vonnegut
                        span Teacher
            .item
                .teacher-content
                    .teacher-img
                        img(src="../../../dist/assets/images/teachers/teacher4.jpg", alt="")
                    .teacher-quote
                        blockquote
                            q One ought, every day at least, to hear a little song, read a good poem, see a fine picture, and, if it were possible, to speak a few reasonable words.
                    .teacher-name
                        span Émile Zola
                        span Teacher
    .wrapper-about.col-lg-6
        .about-page
            span about us
        .about-title
            span
            | Tabula
            br
            |  art school
        .about-text
            span Twee echo park celiac YOLO dreamcatcher bushwick. Pitchfork fam tousled sustainable mumblecore tote bag trust fund tacos organic four dollar toast kickstarter pork belly.
        .about-button
            a.button-hover(href="#")
                    span view more
