section.top-students
    .owl-carousel.owl-theme.student-slider
        .item
            .owl-lazy(data-src='../../../dist/assets/images/pattern.jpg')
            .top-student
                .student-trophy
                    img(src="../../../dist/assets/images/jing.fm-laurel-wreath-clipart-1236472.png", alt="")
                .student-img
                    img(src="../../../dist/assets/images/students/rebecca.jpg", alt="")
                .student-stars
                    img(src="../../../dist/assets/images/stars.png", alt="")
                .student-name
                    span Rebecca Sr.Jen
                .student-design.row
                    .design-img.col-lg-6
                        img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                    .design-description.col-lg-6
                        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, soluta! Aliquid nisi minus quibusdam sed repellendus, explicabo tenetur voluptates facere voluptate fugit modi id illo praesentium molestias animi sapiente adipisci!
        .item
            .owl-lazy(data-src='../../../dist/assets/images/pattern.jpg')
            .top-student
                .student-trophy
                    img(src="../../../dist/assets/images/jing.fm-laurel-wreath-clipart-1236472.png", alt="")
                .student-img
                    img(src="../../../dist/assets/images/students/rebecca.jpg", alt="")
                .student-stars
                    img(src="../../../dist/assets/images/stars.png", alt="")
                .student-name
                    span Rebecca Sr.Jen
                .student-design.row
                    .design-img.col-lg-6
                        img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                    .design-description.col-lg-6
                        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, soluta! Aliquid nisi minus quibusdam sed repellendus, explicabo tenetur voluptates facere voluptate fugit modi id illo praesentium molestias animi sapiente adipisci!
        .item
            .owl-lazy(data-src='../../../dist/assets/images/pattern.jpg')
            .top-student
                .student-trophy
                    img(src="../../../dist/assets/images/jing.fm-laurel-wreath-clipart-1236472.png", alt="")
                .student-img
                    img(src="../../../dist/assets/images/students/rebecca.jpg", alt="")
                .student-stars
                    img(src="../../../dist/assets/images/stars.png", alt="")
                .student-name
                    span Rebecca Sr.Jen
                .student-design.row
                    .design-img.col-lg-6
                        img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                    .design-description.col-lg-6
                        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, soluta! Aliquid nisi minus quibusdam sed repellendus, explicabo tenetur voluptates facere voluptate fugit modi id illo praesentium molestias animi sapiente adipisci!
        .item
            .owl-lazy(data-src='../../../dist/assets/images/pattern.jpg')
            .top-student
                .student-trophy
                    img(src="../../../dist/assets/images/jing.fm-laurel-wreath-clipart-1236472.png", alt="")
                .student-img
                    img(src="../../../dist/assets/images/students/rebecca.jpg", alt="")
                .student-stars
                    img(src="../../../dist/assets/images/stars.png", alt="")
                .student-name
                    span Rebecca Sr.Jen
                .student-design.row
                    .design-img.col-lg-6
                        img(src="../../../dist/assets/images/Medium/adrianna-geo-1rBg5YSi00c-unsplash (1).jpg", alt="")
                    .design-description.col-lg-6
                        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, soluta! Aliquid nisi minus quibusdam sed repellendus, explicabo tenetur voluptates facere voluptate fugit modi id illo praesentium molestias animi sapiente adipisci!