extends ../layouts/layout.pug
block header
    include ../patials/navigation.pug
    include ../patials/slider.pug

block main-content
    block competition
        include ../patials/about-us.pug

block footer
    include ../patials/footer.pug


