extends ../layouts/layout.pug
block header
    include ../patials/navigation.pug
    include ../patials/slider.pug

block main-content
    //- Huu
    //- block competition
    //-     include ../patials/competition-content.pug

block footer
    include ../patials/footer.pug


