extends ../layouts/layout.pug
block header
    include ../patials/navigation.pug
    include ../patials/slider.pug

block main-content
    block competition
        include ../patials/competition.pug
        include ../patials/top-students.pug
        include ../patials/teachers.pug
        include ../patials/count-up.pug

block footer
    include ../patials/footer.pug


