extends ../layouts/layout-adminlte.pug
block header
    include ../patials/navigation.pug

block main-content
    include ../patials/login-content.pug

block footer
    include ../patials/footer.pug


