extends ../layouts/layout.pug
block header
    include ../patials/navigation.pug
    include ../patials/slider.pug

block main-content
    block competition
        include ../patials/login-page.pug

block footer
    include ../patials/footer.pug


