extends ../layouts/layout.pug
block header
    include ../patials/navigation.pug
    
block main-content
    //- Phat
    include ../patials/posting.pug

block footer
    include ../patials/footer.pug

        