<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        //- Font Awesome
        link(rel='stylesheet', href='../../../plugins/fontawesome-free/css/all.min.css')
        //- Ionicons
        link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
        //- icheck bootstrap
        link(rel='stylesheet', href='../../../plugins/icheck-bootstrap/icheck-bootstrap.min.css')
        //- Theme style
        link(rel='stylesheet', href='../../../dist/css/adminlte.min.css')
        //- Google Font: Source Sans Pro
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', rel='stylesheet')
        //--- Website style - CSS
        link(rel="stylesheet", href="../../../dist/css/styles.css")
    body
        .container-fluid
            block header
            block main-content
            block footer
        //- jQuery
        script(src='../../../plugins/jquery/jquery.min.js')
        //- Bootstrap 4
        script(src='../../../plugins/bootstrap/js/bootstrap.bundle.min.js')
        //- AdminLTE App
        script(src='../../../dist/js/adminlte.min.js')

